@import '../abstract/mixins';

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
    scroll-behavior: smooth;

    @include respond(phone) {
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }

    @include respond(big-desktop) {
        font-size: 90%; //1rem = 14.4px, 14.4/16 = 90%
    }
}