@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: rgba(30, 30, 30, 0.9);
  --secondary-color: ;
  --font-main-color: #fff;
  --font-secondary-color: rgb(177, 177, 177);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Josefin Sans", sans-serif;

  color: var(--font-main-color);

  /* padding: 1rem; */

  background-color: rgb(32, 32, 32);

  padding: 0 1rem 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1.5rem;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
}

.header__logo-container {
  display: flex;
}

.logo-container__title {
  font-size: 2rem;
}

.navigation__list {
  display: flex;
  align-items: center;
  gap: 1rem;

  list-style-type: none;
}

.navigation__list li {
  padding: 10px;

  position: relative;

  transition: all 3s ease;
}

.navigation__list li::after {
  content: "";

  background-color: var(--font-main-color);

  height: 3px;

  transition: width 1s ease;

  position: absolute;
  bottom: 0;
  left: 0;
}

.navigation__list li.active::after {
  width: 100%;
}

.navigation__list li a {
  text-decoration: none;
  color: var(--font-main-color);

  transition: color 0.4s ease;
}

.navigation__list li a:hover {
  color: var(--font-secondary-color);
}

.navigation.active {
  transform: translateX(0);
}

.header__menu-button {
  background-color: transparent;
  color: var(--font-main-color);
  font-size: 1.5rem;
  display: none;
  border: none;

  cursor: pointer;
}

.header__menu-button i {
  background-color: transparent;
}

@media only screen and (max-width: 992px) {
  .navigation {
    position: fixed;
    right: 0;
    top: 0;

    display: flex;

    align-items: center;

    justify-content: center;

    background-color: var(--main-color);

    height: 100vh;
    width: 60vw;

    transform: translateX(200%);

    transition: transform ease 0.4s;
  }

  .navigation__list {
    flex-direction: column;
  }

  .header__menu-button {
    display: block;
  }
}

.hero {
  position: relative;

  height: calc(100vh - 1.5rem);

  padding-top: 1rem;

  background: linear-gradient(
      243deg,
      rgba(0, 0, 0, 0.8634804263502276) 51%,
      rgba(1, 1, 1, 0.8242647400757178) 87%
    ),
    url("./assets/imgs/leonardo-yip-rVcuY3LfH_Q-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.hero__logo-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo-box__title {
  color: var(--font-secondary-color);
  font-size: 3rem;
  font-weight: 700;
  text-align: right;
}

.logo-box__title span {
  color: rgb(154, 14, 1);
}

section {
  min-height: 100vh;
}

.about {
  padding-top: 3rem;
}

.about__text-box {
  width: 80%;
  max-width: 600px;

  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;

  margin: 0 auto;
  margin-top: 3rem;
}

.about__title {
  font-size: 2rem;
  font-weight: 700;
}

.about__text {
  font-size: 1.5rem;
  text-align: justify;
}

.backdrop {
  background-color: rgba(1, 1, 1, 0.7);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  transition: transform 0.4s ease;

  transform: scale(0);
}

.backdrop.active {
  transform: scale(1);
}
