.footer {
  width: 100%;
  padding: 1rem 0;

  text-align: center;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;

  a {
    font-size: 3rem;

    transition: color 0.4s ease;

    &:hover {
      color: var(--font-secondary-color);
    }

    span {
      display: block;
      margin-bottom: 5px;
      font-size: 1rem;
    }
  }
}
