.message-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 2rem;
  overflow-y: auto;
  height: 75vh; 
  min-height: 0;

  padding: 1rem;

  border-radius: 5px;

  width: 90%;
  max-width: 900px;

  background-color: var(--secondary-color);

  &__message {
    // display: flex;
    // flex-direction: column;
    // align-items: flex-start;
    // justify-content: center;
    gap: 1rem;

    background-color: var(--main-color);

    width: 100%;

    padding: 1rem;
    border-radius: 5px;

    h4 {
      font-size: 1.3rem;

      width: 100%;

      display: flex;
      align-items: center;
      justify-content: space-between;

      gap: 2rem;

      margin-bottom: 1rem;

      word-wrap: break-word;

      text-overflow: ellipsis;
    }

    p {
      font-size: 1rem;
      text-align: justify;

      word-wrap: break-word;

      text-overflow: ellipsis;

      background-color: var(--secondary-color);

      padding: 10px;
      border-radius: 5px;

      margin: 16px 0;
    }

    span {
      margin-top: 16px;
      text-align: right;

      display: block;
    }
  }

  &__clear-button {
    font-size: 1rem;
    font-family: inherit;

    position: fixed;

    bottom: 1rem;

    padding: 10px 20px;

    border-radius: 5px;
    border: none;

    background-color: var(--secondary-color);
    color: var(--font-main-color);

    transition: all 0.4s ease;

    &:hover,
    &:active {
      background-color: var(--font-main-color);
      color: var(--secondary-color);
    }
  }
}

.delete-popup {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  border-radius: 5px;
  box-shadow: var(--font-main-color) 0 0 10px;

  padding: 1rem;

  background-color: var(--main-color);

  width: 80%;
  max-width: 600px;

  p {
    text-align: center;
  }

  button {
    font-size: 1rem;
    font-family: inherit;

    padding: 10px 20px;

    border-radius: 5px;
    border: none;

    color: var(--font-main-color);

    transition: background 0.4s ease;

    &:hover {
      cursor: pointer;
    }
  }

  &__button--confirm {
    background-color: rgb(138, 0, 0);

    &:hover {
      background-color: rgb(172, 0, 0);
    }
  }

  &__button--refuse {
    background-color: var(--main-color);

    border: 1px solid var(--font-main-color);

    &:hover {
      outline: 2px solid var(--font-main-color);
    }
  }
}
