.message-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 2rem;
  overflow-y: scroll;
  height: 75vh;
  min-height: 0;

  padding: 1rem;

  border-radius: 5px;

  width: 90%;
  max-width: 900px;

  background-color: var(--secondary-color);

  &__message {
    // display: flex;
    // flex-direction: column;
    // align-items: flex-start;
    // justify-content: center;
    gap: 1rem;

    background-color: var(--main-color);

    width: 100%;

    padding: 1rem;
    border-radius: 5px;

    h4 {
      font-size: 1.3rem;

      width: 100%;

      display: flex;
      align-items: center;
      justify-content: space-between;

      gap: 2rem;

      margin-bottom: 1rem;

      word-wrap: break-word;

      text-overflow: ellipsis;
    }

    p {
      font-size: 1rem;
      text-align: justify;

      word-wrap: break-word;

      text-overflow: ellipsis;

      background-color: var(--secondary-color);

      padding: 10px;
      border-radius: 5px;

      margin: 16px 0;
    }

    span {
      margin-top: 16px;
      text-align: right;

      display: block;
    }
  }
}

@media only screen and (max-width: 992px) {
}
