.technology {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;

  background-color: var(--main-color);
  padding: 1rem;

  width: 90%;
  max-width: 600px;

  height: fit-content;

  overflow: auto;
  height: 75vh;

  text-align: left;

  &__name {
    font-size: 1.5rem;
    align-self: center;
  }

  &__img {
    height: 250px;
    align-self: center;
  }

  &__evaluate {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    h4 {
      font-size: 1.5rem;
    }

    ul {
      list-style-type: none;

      margin-bottom: 10px;

      display: flex;
      flex-direction: column;
      gap: 1rem;

      li {
        font-size: 1rem;
      }
    }
  }

  &__projects {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;

    span {
      background-color: var(--secondary-color);
      padding: 10px 20px;
      border-radius: 5px;
    }
  }
}
