.text-section {
  &__box {
    width: 80%;
    max-width: 800px;

    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;

    margin: 0 auto;
    margin-top: 3rem;
    padding: 2rem 0;
  }
}

.box__title {
  font-size: 2rem;
  font-weight: 700;
}

.box__text {
  font-size: 1.5rem;
  text-align: justify;
}
