.project {
    border-radius: 5px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .1);
    box-shadow: 0 0 5px var(--main-color-light);
    color: var(--light-grey-color-1);
    display: flex;
    flex-direction: column;

    &__info {
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        flex-grow: 1;


        &>* {
            margin: 0;
        }
    }

    &__image {
        width: 100%;
    }

    &__title {
        font-size: 2rem;
        font-weight: 300;
        text-transform: uppercase;
    }

    &__description {
        font-weight: 300;
        font-size: 1.7rem;

        flex-grow: 1;
    }

    &__buttons {
        justify-self: flex-end;
        display: flex;
        color: var(--light-grey-color-1);
        font-weight: 300;

        &>a {
            text-transform: uppercase;
            font-size: 1.5rem;
            padding: 1rem 0;
            width: 50%;
            border-bottom: 1px solid var(--light-grey-color-2);
            border-top: 1px solid var(--light-grey-color-2);
            transition: all 0.3s ease;

            &:hover {
                background-color: var(--light-grey-color-2);
                font-weight: 400;
                color: var(--main-color);
            }
        }

        &--live {
            border-left: 1px solid var(--light-grey-color-2);
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }

        &--github {
            border-right: 1px solid var(--light-grey-color-2);
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        & .full-width-btn {
            border: 1px solid var(--light-grey-color-2);
            width: 100%;
        }
    }
}