.about-section {
    padding: 7.5rem 0;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    color: var(--main-color);

    p {
        font-size: 2.5rem;
        max-width: 80rem;
        text-align: center;
        margin: 0 auto;
        text-align: justify;
    }
}