@import '../sass/abstract/mixins';

.contact-section {
    padding: 2rem 0;
    text-align: center;
    display: grid;
    justify-items: center;
    gap: 0 2rem;
    grid-template-columns: auto auto;


    @include respond(phone) {
        grid-template-columns: auto;
        justify-content: center;
    }

    h2 {
        align-self: center;
        font-size: 4rem;
    }
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    @include respond(phone) {
        justify-self: end;
    }

    &__link {
        color: var(--main-color);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 0.5rem;

        span {
            font-size: 1.8rem;
        }

        svg {
            fill: var(--main-color);
            width: 3rem;
            height: 3rem;
        }
    }
}