.hero {
    height: 85vh;
    position: relative;

    &::before {
        background: linear-gradient(0deg,
                rgba(29, 29, 33, 0.4),
                rgba(29, 29, 33, 0.7)),
            repeating-linear-gradient(0deg,
                rgba(29, 29, 33, 0.7),
                rgba(29, 29, 33, 0.2)),
            url('/WandererAboveSeaOfFog.jpg');

        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        content: "";
        width: 100%;
        height: 85vh;

        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;


        clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    }
}

.heading-primary {
    gap: 1rem;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;

    &-main {
        text-align: center;
        font-size: 5rem;
        color: var(--light-grey-color-2);
        display: block;
        font-weight: 300;

        span {
            color: var(--main-color-light);
            font-weight: 400;
            display: inline-block;
        }
    }

    &-sub {
        margin-top: 1rem;
        display: block;
        font-size: 2rem;
        color: var(--light-grey-color-2);
        font-weight: 300;
        letter-spacing: 3px;
        text-align: center;
    }
}