.section-title {
    font-size: 4rem;
    font-weight: 300;
    text-transform: uppercase;
    padding-right: 3px;
    padding-bottom: 3px;
    margin: 0;

    &--light {
        border-right: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        color: var(--main-color);
    }

    &--dark {
        border-right: 2px solid var(--light-grey-color-2);
        border-bottom: 2px solid var(--light-grey-color-2);
        color: var(--light-grey-color-2);
    }
}

section {
    overflow-x: hidden;
}