section h2 {
    font-size: 4rem;
    font-weight: 300;
    text-transform: uppercase;
    border-right: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    display: inline-block;
    padding-right: 3px;
    padding-bottom: 3px;
    color: var(--main-color);
    text-align: center;
    margin: 0 auto;
}